.historia-div {
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.contenido-historia {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    font-size: 1.2rem;
}
